/*App component*/
.App {
    text-align: center;
  }
  
  .App-logo {
    height: 50vmin;
    pointer-events: none;
  }
  
  
  .App-header {
    background-color: #e4e4e4;
    min-height: 85vh;
    display: flex;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: rgb(66, 66, 66);
  }
  
  .App-link {
    color: #179abe;
  }
  
  /*HomeMain component*/
  .home-main{
    padding-bottom: 15px;
  }
  
  
  /*Navbar Component*/
  .main-navbar{
    background-color:#5a945a;
  }
  
  .main-navbar .navbar-light .navbar-brand{
    color: white;
  }
  
  /*Login component*/
  .login-form{
    text-align: left;
  }
  
  .register-span{
    font-size: 14px;
    margin-left: 8px;
  }
  
  .alert{
    padding: 0.2rem 0.5rem;
    font-size: 16px;
  }
  
  .alert p{
    margin-bottom: 3px;
  }
  
  .close{
    line-height: 0.2;
  }
  
  @media(max-width: 393px) {
    .register-span{
      display: block;
      margin-left: 0;
      padding-top: 6px;
    }
  }
  /*App Main body component*/
  .App-body {
    background-color: #f7f7f7;
    min-height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: rgb(66, 66, 66);
  }
  
  .carousel{
    padding-bottom: 80px;
    padding-top: 30px;
  }
  
  .center-body{
    justify-content: center;
  }
  .main-body-slide h2{
    padding-top: 20px;
  }
  
  .main-body-slide h6{
    padding-top: 30px;
    line-height: 25px;
  }
  
  .slide-img{
    height: 50vmin;
    pointer-events: none;
  }
  
  .carousel-indicators{
    padding-top: 100px;
  }
  .carousel-indicators li{
    background-color: rgb(92, 92, 92);  
  }
  
  .carousel-control-prev-icon, .carousel-control-next-icon{
    display: none;
  }
  
  @media(max-width: 991px){
    .App-body h6{
      padding-top: 10px;
      padding-bottom: 12px;
    }
  }
  
  /*Register Form component*/
  .App-register{
    padding-bottom: 20px;
  }
  
  .register-logo{
    width: 30%;
    max-width: 90px;
  }
  
  .App-register .jumbotron{
    width: 60%;
    padding-top: 10px;
    padding-bottom: 20px;
    margin: auto;
  }
  
  .App-register .jumbotron h3{
    padding-bottom: 10px;
  }
  
  .App-register .jumbotron .btn-danger{
    margin-left: 18px;
  }
  
  @media(max-width: 576px){
    .App-register .jumbotron{
      width: 90%;
    }
  }
  
  .register-form{
    text-align: left;
  
  }
  
  /*App Footer component*/
  .App-footer{
    min-height: 10vh;
    background-color: #3f693f;
    color: #ffffff;
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  