.user-profile__navbar{
    overflow-x: auto;
    overflow-y: hidden
}

.logout__container{
    position: relative;
    width: 100%;
    margin: auto;
}

.logout__dots{
    position: absolute;
    top: 8px;
    right: 6px;
    padding: 10px;
}

.logout__dots:hover{
    cursor: pointer;
}

.logout__dots div{
    width: 4px;
    height: 4px;
    background-color: white;
    border-radius: 50%;
    margin: auto;
    margin-top: 2px;
}

.logout__link-box{
    background-color: rgba(255, 255, 255, 0.938);
    position: absolute;
    top: 37px;
    right: 20px;
    padding: 6px 10px;
    border-radius: 2px;
}

@media(min-width: 628px){
    .logout__container{
        width: 85%;
    }

    .logout__dots{
        top: 5px;
    }
}