
  .App-logo {
    height: 50vmin;
    pointer-events: none;
  }
  
  
  .App-header {
    background-color: #e4e4e4;
    min-height: 85vh;
    display: flex;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: rgb(66, 66, 66);
  }
  
  .App-link {
    color: #179abe;
  }