
  .App-logo {
    width: 70%;
    margin: auto;
  }
  
  
  .App-header {
    background-color: #e4e4e4;
    min-height: 85vh;
    display: flex;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: rgb(66, 66, 66);
    padding-bottom: 1rem;
  }
  
  .App-link {
    color: #179abe;
  }

  @media(max-width: 991px){
    .App-logo {
      width: 60%;
    }
  }