 /*App Footer component*/
 .App-footer{
    min-height: 10vh;
    background-color: #3f693f;
    color: #ffffff;
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
  }
  