
  /*Login component*/
  .login-form{
    text-align: left;
  }
  
  .register-span{
    font-size: 14px;
    margin-left: 8px;
  }
  
  .alert{
    padding: 0.4rem 0.7rem;
    font-size: 16px;
  }
  
  .alert p{
    margin-bottom: 3px;
  }
  
  .close{
    line-height: 0.2;
  }
  
  @media(max-width: 393px) {
    .register-span{
      display: block;
      margin-left: 0;
      padding-top: 6px;
    }
  }