

@media(max-width: 991px) {
    .Main-post{
        width: 80%;
    }
}



/*Comments component*/
.Main-comments{
    background-color: #e4e4e49a;
    margin-top: 5px;
    border-radius: 5px;
    padding: 10px;
}

.Main-comments .comment{
    background-color: white;
    border-radius: 7px;
    padding: 8px;
    margin-bottom: 8px;
}

.Main-comments .comment .comment-user{
    font-size: 14px;
}

.Main-comments .comment p{
    margin-bottom: 0;
}


.Main-comments .comment .comment-date{
    font-size: 12px;
    margin-bottom: 5px;
    border-bottom: 1px solid rgba(184, 184, 184, 0.363);
}

.Main-comments .comment .comment-body{
    font-size: 14px;
    padding-top: 4px;
    margin-bottom: 5px;
}

.Main-comments .comment .comment-likes{
    font-size: 14px;
    color:#5a945ac4
}