.profile-card {
    background-color: #2a472a;
    width: 100%;
    min-height: 40vh;
    margin: auto;
}

.profile-card__row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile-card__header {
    width: 95%;
    margin: auto;
    padding-bottom: 12px;
    padding-top: 8px;
    border-bottom: 3px solid rgba(255, 255, 255, 0.37);
}

.profile-card__img-holder {
    width: 30%;
    padding-top: 12px;
    padding-left: 12px;
}

.profile-card__img-holder img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.profile-card__name-holder {
    width: 70%;
    padding-top: 4px;
    padding-right: 12px;
    color: #ffffff;
}

.profile-card__name-holder h1 {
    font-size: 7vw;
    margin-bottom: 5px;
}

.profile-card__club-icon {
    width: 28px;
    height: 28px;
}

.profile-card__user-club {
    color: #ffffff;
    margin-bottom: 0;
    margin-left: 2px;
    margin-top: 5px;
    font-size: 15px;
}

.profile-card__user-club:hover{
    color: #ffffff;
}

.profile-card__follow-btn-container{
    padding-bottom: 10px;
}

@media(max-width: 355px) {
    .profile-card__img-holder {
        width: 35%;
    }
    .profile-card__name-holder {
        width: 65%;
    }
}

.profile-card__body {
    color: white;
    width: 95%;
    height: 50%;
    margin: auto;
    text-align: center;
    padding-top: 30px;
}

.profile-card__col {
    width: 50%;
    margin: auto;
    margin-bottom: 30px;
}

.profile-card__body .value {
    font-size: 18px;
    margin-bottom: 1px;
}

.profile-card__body .denotation {
    text-transform: uppercase;
    color: rgba(167, 167, 167, 0.842);
}

@media(min-width: 484px) {
    .profile-card__img-holder img {
        width: 110px;
        height: 110px;
    }
}

@media(min-width: 628px) {
    .profile-card {
        width: 85%;
    }
    .profile-card__body {
        position: relative;
    }
    .profile-card__img-holder {
        width: 17rem;
        height: 13rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .profile-card__img-holder img {
        border-radius: 0;
        width: 90%;
        height: 100%;
        margin: auto;
        object-fit: cover;
    }
    .profile-card__name-holder h1 {
        font-size: 36px;
    }
    .profile-card__club-icon {
        width: 30px;
        height: auto;
    }
    .profile-card__user-club {
        font-size: 18px;
    }
    .profile-card__user-data {
        width: 60%;
        margin-left: 30%;
    }
   
    .profile-card__followers-data .value, .profile-card__followers-data .denotation {
        font-size: 14px;
    }

    .profile-card__col-2{
        margin-left: 4px;
    }

    .followers-info__container{
        position: absolute;
        top: 6px;
        width: 208px;
        margin-left: 28px;
    }

    .profile-card__followers-data .profile-card__col{
        margin-bottom: 12px;
    }
}

@media(min-width: 800px) {
    .profile-card__name-holder h1 {
        font-size: 42px;
    }
    .profile-card__club-icon {
        width: 40px;
    }
    .profile-card__user-club {
        font-size: 22px;
    }
}