.inicio-header{
    padding: 1rem;
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.inicio-header .logo-container {
    width: 18%;
    margin-left: 30px;
}

.inicio-header .logo-container img{
    width: 100%;
    max-width: 120px;
}

.estado-cancha-container, .weather-container{
    padding: 1.5rem 0;
    width: 30%;
}

.estado-cancha-container .abierta{
    color: rgb(57, 131, 57)
}
