.post__container{
    width: 100%;
    background-color: #ffffff;
    padding: 1rem 2rem;
    margin-bottom: 20px;
    text-align: left;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.26);
}

.post__container .post-profile-pic{
    width: 45px;
    height: 45px;
    border-radius: 100%;
    margin-right: 8px;
}

.post__container .post-date-time{
    font-size: 12px;
    margin-left: 53px;
    margin-top: -15px;
}

.post__container .likes-comments{
    font-size: 14px;
    color: #5a945ac4;
}

.post__container .likes-comments .likes{
    margin-right: 10px;
    margin-left: 6px;
}

.post__container .likes-comments .likes:hover, .post__container .likes-comments .comments:hover{
    cursor: pointer;
    color: #5a945a;
}

.post__like-comment{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.like-comment__btn{
    color: rgba(94, 94, 94, 0.938);
    width: 100px;
    text-align: center;
    margin: 0;
    padding: 8px 2px 8px 2px;
    border-radius: 8px;
    font-size: 14px;
    transition: all 0.3s;
}

.like-comment__btn:hover{
    cursor: pointer;
    background-color: #7f977f13;
    color: #4c7c4c;
}



.post__container .post-footer .leave-comment textarea{
    resize: none;
    height: 60px;
    font-size: 14px;
    border-radius: 10px;
    width: 80%;
}
.post__container .post-footer .leave-comment .fa-arrow-alt-circle-right{
    color: #5a945ad3;
    font-size: 2rem;
    margin-left: 0;
    cursor: pointer;
}

.post__container .post-footer .leave-comment .fa-arrow-alt-circle-right:hover{
    color: #5a945a;
}

