.posts__container{
    height: 500px;
    width: 70%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.comments__container{
    background-color: #e4e4e49a;
    margin-top: 5px;
    border-radius: 5px;
    padding: 10px;
}


@media(max-width: 991px) {
    .posts__container{
        width: 80%;
    }
}