
.add-post__container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 61%;
    margin: auto;
    margin-bottom: 2rem;
    padding-top: 3rem;
}

.add-post__profile-img-container{
    width: 10%;
    margin-right: 6px;
}

.add-post__profile-img-container img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.add-post__form{
    width: 80%;
}

.add-post__form .textarea{
    resize: none;
    transition: 0.3s all;
}

.textarea-position{
    position: relative;
}

.close-post-icon{
    position: absolute;
    right: 3px;
    top: 2px;
    color: rgba(121, 121, 121, 0.774);
}

.close-post-icon:hover{
    cursor: pointer;
    color: rgb(121, 121, 121)
}

.add-post__submit-btn-container{
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 12px;

}
.add-post__submit-btn{
    width: 80%;
    background-color: #5a945ad3;
    color: white;
}

.add-post__submit-btn:hover{
    color:white;
    background-color: #5a945a;
}

@media (max-width: 991px){
    .add-post__container{
        width: 90%;
    }
}

@media (max-width: 767px){
    .add-post__profile-img-container img{
        width: 55px;
        height: 55px;
    }
}

@media (max-width: 550px){
    .add-post__profile-img-container{
        width: 15%;
    }

    .add-post__profile-img-container img{
        width: 52px;
        height: 52px;
    }
}