.comment{
    background-color: white;
    border-radius: 7px;
    padding: 8px;
    margin-bottom: 8px;
}

.comment .comment-user{
    font-size: 14px;
}

.comment p{
    margin-bottom: 0;
}


.comment .comment-date{
    font-size: 12px;
    margin-bottom: 5px;
    border-bottom: 1px solid rgba(184, 184, 184, 0.363);
}

.comment .comment-body{
    font-size: 14px;
    padding-top: 4px;
    margin-bottom: 5px;
}

.comment .comment-likes{
    font-size: 14px;
    color:#5a945ac4
}