.inscripcion__container{
    width: 100%;
}

.inscripcion__title{
    text-align: center;
}

.back-container{
    padding: 12px;
}

@media(min-width: 767px) {

    .inscripcion__container{
        width: 85%;
        margin: auto;
    }
    .back-container{
        position: relative;
    }

    
    .back-link{
        position: absolute;
        left: 25px;
        top: 20px;
    }
}