.scorecard{
    position: relative;
    font-size: 12px;
    width: 100%;
}

.scorecard-title{
    max-width: 67px;
}


.scorecard-content{
    position: absolute;
    left: 67px;
    top: 0;
    right:0;
    width: auto;
    height: auto;
}

.scorecard th, .scorecard td{
    width: 9.7%;
    text-align: center;
    padding: 6px 2px;
    
}

.scorecard-title th{
    text-align: left;
    padding-left: 4px;
    text-transform: uppercase;
    padding-top: 5.5px;
}

.eagle{
    background-color: rgb(72, 184, 223);
}

.birdie{
    background-color: rgb(168, 222, 243);
}

.par{
    background-color: rgb(192, 192, 192);
}

.bogey{
    background-color: rgb(255, 204, 110);
}

.d-bogey{
    background-color: rgb(255, 132, 110)
}

.carousel{
    padding-top: 0;
    width: auto;
    padding-bottom: 42px;
}

.carousel-indicators{
    margin-left: 0;
}
.carousel-indicators li{
    width: 9px;
    height: 9px;
    border-radius: 100%;
    margin: 4px;
}

.carousel-indicators .active{
    background-color: #5a945a
}

@media(min-width: 980px) {
    .scorecard th, .scorecard td{
        width: auto;
        text-align: center;
        padding: 10px;
        
    }
    
    .scorecard-title th{
        text-align: left;
        padding-left: 4px;
        padding:10px;
        font-size: 12px;
    }
}