.fixture-controls .fixture-control-club, .fixture-controls .fixture-control-filters{
    padding-top: 8px;
    padding-bottom: 8px;
}

.fixture-controls select{
    font-family: 'Roboto Condensed',sans-serif;
    
}