
.fixture{
    width: 80%;
    margin: auto;
    background-color: #ffffff;
}

.fixture-table{
    text-align: center;
    border: 1px solid rgb(219, 219, 219);
}

.fixture-table th, .fixture-table td {
    border-right: 1px solid rgb(219, 219, 219);
}

.fixture-controls{
    text-align: center;
}

@media(max-width: 991px) {
    .fixture-controls{
        text-align: left;
    }
}

