.fixture{
    min-height: 50vh;
}


.fixture-table{
    text-align: center;
    border: 1px solid rgb(219, 219, 219);
}

.fixture-table th, .fixture-table td {
    border-right: 1px solid rgb(219, 219, 219);
}

.fixture-controls{
    text-align: center;
}

.fixture-loading-spinner__container{
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}

@media(max-width: 991px) {
    .fixture-controls{
        text-align: left;
    }
}

