body {
  background-color: #e4e4e4;
  font-size: 100%;
  font-family: 'Roboto Condensed',sans-serif;
}
.Main-body{
  padding-top: 70px;
}
/*Navbar component*/
.navbar{
  background-color: #5a945a;
}
.navbar-light .navbar-nav .nav-link{
  color: white;
}

.navbar-icon{
  margin-left: 13px;
  padding-left: 3px;
}

.navbar-brand a{
  color: white;
}

.navbar-brand a:hover{
  text-decoration: none;
}

@media(max-width: 991px){
  .navbar-light .navbar-nav .nav-link{
      border-bottom: 0.5px solid rgba(255, 255, 255, 0.39);
  }  
}